.PageError{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.PageError textarea {
  width: auto;
  height: auto;
  background: #44443c;
color: #eeeadf;
}