.Wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding: 2px 10px 2px 2px;
  background: none;
  outline: none;
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-primary-color);
}

.readonly {
  opacity: 0.7;
}
