.app_blue_theme {
  --bg-color: #26BAEB;
  --inverted--bg-color: #365764;
  --primary-color: #F4F9FB;
  --secondary-color: #F4F9FB;
  --inverted-primary-color: #F4F9FB;
  --inverted-secondary-color: #F4F9FB;
}