.app_blue_theme {
  --bg-color: #26baeb;
  --inverted--bg-color: #365764;
  --primary-color: #f4f9fb;
  --secondary-color: #f4f9fb;
  --inverted-primary-color: #f4f9fb;
  --inverted-secondary-color: #f4f9fb;
  --skeleton-color: #939895;
  --skeleton-shadow: #2a2c2b;
  --code-bg:
    #75d0ee
;
}
