.app_dark_theme {
  --bg-color: #0E0B0E;
  --inverted--bg-color: #ebebeb;
  --primary-color: #ffb6c1;
  --secondary-color: #c9b3b3;
  --inverted-primary-color: #08a652;
  --inverted-secondary-color: #1dc417;
}
