.app_dark_theme {
  --bg-color: #0e0b0e;
  --inverted--bg-color: #ebebeb;
  --primary-color: #ffb6c1;
  --secondary-color: #c9b3b3;
  --inverted-primary-color: #08a652;
  --inverted-secondary-color: #1dc417;
  --skeleton-color: #046531;
  --skeleton-shadow: #0d8c48;
  --code-bg:
    #342934
;
}
