:root {
  --bg-color: #fbf4f7;
  --inverted--bg-color: #1f1b24;
  --primary-color: #08a652;
  --secondary-color: #1dc417;
  --inverted-primary-color: #ffb6c1;
  --inverted-secondary-color: #c9b3b3;
  --skeleton-color: #bcc9c2;
  --skeleton-shadow: #5e6460;
  --code-bg: #f8f4f4;
  --card-bg: #ccc7c9;
}
