:root {
  --bg-color: #ebebeb;
  --inverted--bg-color: #1f1b24;
  --primary-color: #08a652;
  --secondary-color: #1dc417;
  --inverted-primary-color: #c9b3b3;
  --inverted-secondary-color: #ffb6c1;
}
